@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    font-family: 'PT Sans', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 240px 1fr;
    margin: 0px;
    min-height: 100vh;
    width: 100vw;
}

header {
    background-color: #fafafa;
    padding: 12px;
    min-height: 85vh;
}

header h1 {
    margin: 0px;
    font-weight: bold;
}

footer {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #eeeeee;
    height: min-content;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
}

.default-project {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-left: 8px solid transparent;
    padding: 4px 0px;
}

.default-project:hover {
    background-color: #efefef;
}

.default-project span {
    padding: 0px 8px;
}

.default-project>p {
    margin: 0px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-proj {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fafafa;
    padding: 0px;
}

.add-proj:hover {
    background-color: #d8d8d8;
}

button:hover {
    cursor: pointer;
}

button .material-icons:hover {
    transform: scale(1);
}

.project-item {
    border-left: 8px solid transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 4px 0px;
}

.project-item:hover {
    background-color: #efefef;
}

.project-title {
    padding: 0px 4px;
    overflow: hidden;
}

.active {
    font-weight: bold;
    border-left: 8px solid #888;
    background-color: #d8d8d8;
}

.active:hover {
    font-weight: bold;
    border-left: 8px solid #888;
    background-color: #cacaca;
}

.edit-proj {
    margin-left: auto;
}

main {
    padding: 0px 48px;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-task {
    display: flex;
    align-items: center;
    padding: 6px 14px;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: #fafafa;
}

.add-task p {
    font-weight: bold;
    margin: 0px;
}

.add-task:hover {
    background-color: #d8d8d8;
}

.task-item {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #bdbdbd;
    padding: 4px 0px;
}

.task-item:hover {
    background-color: #efefef;
}

input[type='checkbox'] {
    appearance: none;
    background-color: #fff;
    width: 1.1em;
    height: 1.1em;
    border-radius: 0.15em;
    border: 0.15em solid black;
    display: grid;
    place-content: center;
}

input[type='checkbox']::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
    background-color: black;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type='checkbox']:checked::before {
    transform: scale(1);
}

.checked {
    opacity: 0.3;
}

.checked .task-title,
.checked .task-date {
    text-decoration: line-through;
}

.checked .priority:hover .priority-box {
    display: none;
}

.checked .task-title:hover~.task-desc {
    display: none;
}

.task-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #ffffff;
    margin: 15% auto;
    padding: 16px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 4px;
    box-shadow: rgb(25, 25, 25 / 25%) 0px 2px 8px 0px;
}

#task-name {
    padding: 4px;
    border-radius: 4px;
    border: none;
    border-bottom: 1px dotted rgb(170, 170, 170);
}

#task-name:focus {
    outline: none;
}

#task-desc {
    padding: 4px;
    border-radius: 4px;
    border: none;
    resize: none;
    border-bottom: 1px dotted rgb(170, 170, 170);
}

#task-desc:focus {
    outline: none;
}

#task-date {
    padding: 4px;
    border-radius: 4px;
    border: none;
    border-bottom: 1px dotted rgb(170, 170, 170);
}

#task-date:focus {
    outline: none;
}

.task-id {
    display: none;
}

.priority {
    position: relative;
    cursor: pointer;
    text-align: center;
    width: 20px;
}

.priority-low div {
    color: black;
}

.priority-med div {
    color: red;
}

.priority-high div {
    color: red;
    font-weight: bold;
}

.priority-drop {
    font-weight: bolder;
}

.priority-box {
    display: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    padding: 4px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 8px;
}

.priority-item {
    padding: 6px 10px;
    border: 1px dotted rgb(170, 170, 170);
}

.priority-box div:hover {
    background-color: #ddd;
}

.priority-box div {
    display: block;
}

.priority:hover .priority-box {
    display: flex;
}

.task-desc {
    display: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    padding: 6px 12px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 8px;
    left: 40px;
    top: 30px;
}

.task-title:hover~.task-desc {
    display: inline-block;
}

.task-date {
    margin-left: auto;
    padding: 0px 6px;
}

.material-icons {
    cursor: pointer;
}

.material-icons:hover {
    transform: scale(1.05);
}